@page
@model EfCoreBlazorServerStatic.Pages.Articles.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article[0].User!.UserName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Article)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User!.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>