@page
@model Index

@{
    Layout = "_Layout";
    const string output = "<p>This is a paragraph.</p>";
}

<h2>サニタイズ</h2>
<div>
    <p>@output</p>
    <p>@Html.Raw("<p>This is a paragraph.</p>")</p>
</div>

<h2>OnGetのパラメーター</h2>
<div>
    <p>@Model.Message</p>
    <p>
        <a asp-page="/Samples/Index" asp-route-id="5">Get: samples/?id=5</a>
    </p>
</div>

<h2>名前付きハンドラーメソッド</h2>
<div class="col">
    <p>@Model.PostMessage</p>
    <form method="post" asp-page-handler="Search">
        <p>Search</p>
        <input name="searchTerm"/>
        <button>Search</button>
    </form>
    <form method="post" asp-page-handler="Register">
        <p>Register</p>
        <input name="email"/>
        <button>Register</button>
    </form>
    <p>@Model.Message</p>
</div>

<div class="col-4">
    <h3>モデルバインディング</h3>
    <form method="post">
        <div class="mb-3">
            <label for="name">Enter city name</label>
            <input class="form-control" type="text" name="cityName"/>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    @if (Request.HasFormContentType && !string.IsNullOrWhiteSpace(Model.CityName))
    {
        <p>You submitted @Model.CityName</p>
    }
</div>